@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Kode+Mono&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
*{
    margin: 50;
    padding: 60;
}
.container{
    background-color:rgb(26, 169, 217);
    max-width: 150vw;
    font-family:"Bubblegum Sans", sans-serif;
}
.navbar{
    display: flex;
    height: 67px;
    

    
}
.navbar li{
    list-style: none;
    margin: 0 12px;
}
.topleft{
    width: 100%;
    padding: 100x 0;
}

.topright{ 
    width: 70%;
    padding: 100px 0;
}

.section1{
   max-height: 100vh; 
   color: #711e15;
}

.section1 h1{
    color: #711e15;
    font-size: 1.5rem;
}

.logo{
    font-size: 2.5rem;
    max-width: 100%;
    max-height: 100%;
}

.dumbelling{
    width: 89px;
}

.topright .gymimg{
    width: 466px;
}

.section2{
    padding: 73px;
}

.section2 h1{
    font-size: 2.5rem;
}

.section2 p{
    padding: 0 8vw;
    text-align: center;
}

.box{
    padding: 8px 0;
    margin: 12px 22px;
    min-width: 20vw;
    border: 1px solid rgb(120, 54, 16);
    border-radius: 2px;
    text-align:center;
}

.box h2{
    font-size: 2rem;
    padding: 10px 0;
}

.highlighted{
    font-size: 1.2rem;
    font-weight: bolder;
}

.box ul{
    list-style-type: none;
}

.box ul li{
   margin: 12px 2px;
}

.plantable{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 table{
    width: 100%;
    margin-bottom: 140px;
    margin-top: 20px;
    border-collapse: collapse;
}

.section3 table th{ 
    width: 23vw; 
    border-bottom: 1px solid black;
    padding: 15px 0;
} 

.section3 table td{   
    border-bottom: 1px solid black; 
} 


.section3 h1{
    font-size: 2.3rem;
}

.section3{
    padding: 73px;
}

footer{
    padding: 23px;
    text-align: center;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.deal{
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 12px 0;
}